/* =========================
   Table Card (외곽 카드)
========================= */
.table-card {
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  padding: 1.75rem;
  background: #fff;
  margin-bottom: 2rem;
}

/* 카드 헤더 */
.table-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.table-card__title {
  font-size: 25px;
  font-weight: 500;
}

.table-card__actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.table-card__badge {
  background: #9ca3af;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 999px;
}

/* =========================
   Table 기본 구조
========================= */
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 15px;
}

/* =========================
   THEAD (헤더 한 덩어리)
========================= */
.table thead {
  position: relative;
  background: #F1F5FF;
}

.table thead tr:first-child th:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* 헤더 텍스트 */
.table thead th {
  position: relative;
  z-index: 1;
  padding: 14px;
  font-weight: 500;
  font-size: 16px;
  color: #6691FF;
  text-align: center;
  background: transparent;
  border: none;
}

/* =========================
   TBODY (행 스타일)
========================= */
.table tbody td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #E5E5E5;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  color: #383838;
}

.table tbody tr:last-child td {
  border-bottom: none;
  padding-bottom: 0;
}

/* 순위 */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 80px;
  padding-left: 30px;
}

/* 제품명 */
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 400px;
  text-align: left;
  padding-left: 65px;
}

/* =========================
   Rank Badge
========================= */
.rank-badge {
  width: 30px;
  height: 30px;
  background: #6691FF;
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

/* =========================
   Rating
========================= */
/* td는 table-cell 유지 */
td.rating {
  vertical-align: middle;
  text-align: center;
}

/* 내부에서만 flex 사용 */
.rating__inner {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
}


/* =========================
   Change Indicator
========================= */
td.change {
  font-weight: 600;
}

td.change.down {
  color: #FF2F36;
}

td.change.up {
  color: #13C85E;
}

td.change.neutral {
  color: #9e9e9e;
}

