.dashboard {
  padding: 2rem;
  background-color: white;
}

.dashboard__header {
  margin-bottom: 2rem;
}

.dashboard__insight {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background: #6691ff;
  border-radius: 50px;
}

.dashboard__insight-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__insight-icon-img {
  width: 35px;
  height: 35px;
}

.dashboard__insight-label {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.dashboard__insight-text {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.dashboard__stats-grid {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.2rem;*/
  margin-bottom: 2rem; 
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}

@media (max-width: 1200px) {
  .dashboard__stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .dashboard__stats-grid {
    grid-template-columns: 1fr;
  }
}

.dashboard__card {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  padding: 1.8rem;
}

.dashboard__card-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.rank_badge {
  background: #6691ff;
}

/* Stat Card */
.stat-card {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 40px;
  position: relative;
  flex-direction: column;
}

/* 상단은 내용만 */
.stat-card__body {
  flex: 1;
}

/* 하단은 항상 같은 위치 */
.stat-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

/* 왼쪽 */
/* 기본 (KPI 등 공통) */
.stat-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* 제품 카드에서만 row로 override */
.stat-card--product .stat-card__content {
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
}

.stat-card__title {
  font-size: 22px;
  font-weight: 500;
}

.stat-card__value {
  font-size: 26px;
  font-weight: 500;
}

.stat-card--kpi .stat-card__value {
  font-size: 32px;
  font-weight: 500;
  padding: 15px 0px;
  line-height: 1.2;
}

.stat-card--kpi {
  position: relative;
}

/* 증감률 pill */
.stat-card__badge {
  width: fit-content;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 14px;
}

.stat-card__badge.is-up {
  background: #e5fff0;
  color: #13c85e;
}

.stat-card__badge.is-down {
  background: #ffe5e5;
  color: #c81313;
}

/* 오른쪽 + 버튼 */
.stat-card__action {
  position: absolute;
  right: 28px;
  bottom: 23px;
}

.chart-card {
  position: relative;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 28px;
  padding: 1.75rem;
  margin-bottom: 2rem;
}

.chart-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 16px;
}

.chart-card__title {
  font-size: 25px;
  font-weight: 500;
}

.chart-card__chart {
  width: 100%;
  height: 100%;
}

/* Product Stat Card */
.stat-card--product {
  display: block;
  position: relative;
}

.stat-card--product .stat-card__content--product {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* 성장률은 */
.stat-card__growth {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #2fb344;
}

.stat-card--product img {
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
  height: 70px;
  object-fit: contain;
  transform: scale(1.3);
  overflow: hidden;
  z-index: 1;
}

.stat-card__header {
  white-space: nowrap;
}

.stat-card--product .stat-card__title,
.stat-card__tag {
  font-size: 15px;
  font-weight: 600;
}

.stat-card__tag {
  font-size: 22px;
  font-weight: 500;
}

.stat-card__product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.stat-card--product .stat-card__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: #777;
}

.stat-card--product .stat-card__badge {
  font-size: 13px;
  font-weight: 500;
}

/* Tooltip */
.chart-tooltip {
  background: #fff;
  border-radius: 32px;
  padding: 0.8rem 1rem;
  box-shadow: 0px 0px 5px 0px #6691ff80;
  border: 0.65px solid #6691ff;
  max-width: 500px;
  white-space: nowrap;
}

.chart-tooltip__date {
  font-size: 0.875rem;
  font-weight: 400;
  color: #383838;
  margin-bottom: 0px;
}

.chart-tooltip__value {
  font-size: 0.95rem;
  font-weight: 500;
  color: #6691ff;
}
