.dashboard {
  padding: 2rem;
  background-color: white;
}

.dashboard__header {
  margin-bottom: 2rem;
}

.dashboard__insight {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background: #6691FF;
  border-radius: 50px;
}

.dashboard__insight-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__insight-icon-img {
  width: 35px;
  height: 35px;
}

.dashboard__insight-label {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.dashboard__insight-text {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.dashboard__stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.dashboard__card {
  background: #ffffff;
  border: 1px solid #C4C4C4;
  border-radius: 40px;
  padding: 1.8rem;
}

.dashboard__card-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.rank_badge {
  background: #6691FF;
}

/* Stat Card */
.stat-card {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
  background: #ffffff;
  border: 1px solid #C4C4C4;
  border-radius: 40px;
}

/* 왼쪽 */
.stat-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.stat-card__title {
  font-size: 22px;
  font-weight: 500;
}

.stat-card__value {
  font-size: 26px;
  font-weight: 500;
}

/* 증감률 pill */
.stat-card__badge {
  width: fit-content;
  padding: 0.4rem 0.75rem;
  border-radius: 15px;
  font-size: 0.875rem;
}

.stat-card__badge.is-up {
  background: #E5FFF0;
  color: #13C85E;
}

.stat-card__badge.is-down {
  background: #ffe5e5;
  color: #c81313;
}

/* 오른쪽 + 버튼 */
.stat-card__action {
  display: flex;
  align-items: flex-end;
}

.chart-card {
  position: relative;
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 28px;
  padding: 1.75rem;
  margin-bottom: 2rem;
}

.chart-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 16px;
}

.chart-card__title {
  font-size: 25px;
  font-weight: 500;
}

.chart-card__chart {
  width: 100%;
  height: 100%;
}

/* Tooltip */
.chart-tooltip {
  background: #fff;
  border-radius: 32px;
  padding: 0.8rem 1rem;
  box-shadow: 0px 0px 5px 0px #6691FF80;
  border: 0.65px solid #6691FF;
  max-width: 500px;
  white-space: nowrap;
}

.chart-tooltip__date {
  font-size: 0.875rem;
  font-weight: 400;
  color: #383838;
  margin-bottom: 0px;
}

.chart-tooltip__value {
  font-size: 0.95rem;
  font-weight: 500;
  color: #6691FF;
}