/* =====================
   Scope
===================== */
.ranking-history {
  padding: 32px;
  background-color: white;
}

/* =====================
   실시간 아마존 현재 순위
===================== */
.ranking-card {
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  margin-bottom: 32px;
  padding: 1.8rem 3rem;
}

.ranking-card__header--amazon {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

/* 헤더 왼쪽 타이틀, 카테고리 */

.ranking-card__header-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ranking-card__title {
  font-size: 30px;
  font-weight: 500;
  color: #383838;
}

/* 카테고리 버튼 */
.ranking-card__category-group {
  display: flex;
  gap: 8px;
}

.ranking-card__category-btn {
  padding: 5px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid #C4C4C4;
  color: #7A7A7A;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ranking-card__category-btn.is-active {
  background: #6691ff;
  border-color: #6691ff;
  color: #ffffff;
}

/* ---------- Right ---------- */

.ranking-card__header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 검색 */
.ranking-card__search {
  position: relative;
  display: flex;
  align-items: center;
}

.ranking-card__search-icon {
  position: absolute;
  left: 13px;
  width: 20px;
  height: 20px;
  color: #7A7A7A;
}

.ranking-card__search-input {
  width: 270px;
  padding: 10px 12px 10px 40px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid #c4c4c4;
  outline: none;
  transition: border-color 0.2s ease;
}

.ranking-card__search-input::placeholder {
  color: #7A7A7A;
}

/* =====================
   표 디자인
===================== */
.ranking-table-wrapper {
  max-height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ranking-table-wrapper::-webkit-scrollbar {
  width: 6px;
}

.ranking-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* row 사이 간격 */
  table-layout: fixed;
}

.ranking-table thead tr {
  background: #F1F5FF;
}

/* th 공통 */
.ranking-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #6691FF;
  background: #EEF3FF;
}

/* 좌측/우측 모서리만 둥글게 */
.ranking-table thead th:first-child {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.ranking-table thead th:last-child {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

/* 기본 row */
.ranking-table__row {
  background: #ffffff;
  box-shadow: 0px 2px 5px 0px #8888881A;
  border-radius: 50px;
}

/* LANEIGE 강조 row */
.ranking-table__row--laneige {
  background: linear-gradient(186.54deg, #FFFFFF -16.85%, #F1F5FF 105.01%);
  box-shadow: 0px 2px 5px 0px #8888881A;
}

/* td 공통 */
.ranking-table__row td {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #565656;
  vertical-align: middle;
}

/* 첫/마지막 td 둥글게 */
.ranking-table__row td:first-child {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.ranking-table__row td:last-child {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

/* =========================
   Table Alignment
========================= */

/* 기본은 중앙 정렬 */
.ranking-table th,
.ranking-table td {
  text-align: center;
}

/* 브랜드, 제품명만 왼쪽 정렬 */
.ranking-table th:nth-child(2),
.ranking-table th:nth-child(3),
.ranking-table td:nth-child(2),
.ranking-table td:nth-child(3) {
  text-align: left;
}

/* 왼쪽 정렬 컬럼 여백 살짝 보정 */
.ranking-table td:nth-child(2),
.ranking-table td:nth-child(3) {
  padding-left: 24px;
}

/* 제품명 셀 내부 스크롤 영역 */
.ranking-product-name {
  display: block;
  /* max-height: 44px;      2줄 */
  overflow-y: auto;
  overflow-x: hidden;

  line-height: 1.4;
  white-space: normal;
  word-break: break-word;
}


/* 순위 뱃지 */
.ranking-badge {
  width: 35px;
  height: 35px;
  border-radius: 999px;
  background: #9C9C9C;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.ranking-badge--laneige {
  background: #6691ff;
}

.ranking-table__row--laneige td:nth-child(2),
.ranking-table__row--laneige td:nth-child(3) {
  color: #6691FF;
  font-weight: 500;
}

/* =========================
   이전 순위, 순위 변동
========================= */
/* =========================
   Previous Rank
========================= */
.ranking-table__row--laneige .prev-rank {
  color: #6691FF;
}

.rank-up {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #13C85E;
}

.rank-down {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #FF2F36;
}

.rank-neutral {
  font-size: 16px;
  color: #9ca3af;
}

/* =====================
   라네즈 제품 구역 CSS
===================== */
.ranking-card--chart {
  padding: 1.8rem 3rem;
}

/* 헤더 */
.ranking-card__header--chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.ranking-card__header--chart .ranking-card__title {
  font-size: 30px;
  font-weight: 500;
  color: #383838;
}

/* 제품 검색창 */
.ranking-chart__search {
  position: relative;
  margin-bottom: 16px;
}

.ranking-chart__search input {
  width: 100%;
  padding: 12px 16px 12px 50px;
  border-radius: 999px;
  border: 1px solid #C4C4C4;
  font-size: 16px;
  font-weight: 400;
}

.ranking-chart__search-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #7A7A7A;
}

/* 카테고리 선택 */
.ranking-chart__category,
.ranking-chart__period{
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.ranking-chart__category-btn,
.ranking-chart__period-btn {
  padding: 5px 14px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  border: 1px solid #C4C4C4;
  color: #7A7A7A;
  cursor: pointer;
  transition: all 0.2s ease;
}

.ranking-chart__category-btn.is-active,
.ranking-chart__period-btn.is-active {
  background: #6691ff;
  border-color: #6691ff;
  color: #fff;
}

/* 제품 선택 카드 슬라이더 */
.product-selector {
  position: relative;
  margin-bottom: 24px;
}

.product-scroll {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 8px 48px;
  scroll-behavior: smooth;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.product-card {
  flex: 0 0 200px;
  height: 280px;
  border-radius: 40px;
  border: 1px solid #C4C4C4;
  background: #fff;
  padding: 15px 15px;
  padding-top: 0px;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.product-card--active {
  border-color: #C1D2FF;
  background: linear-gradient(179.82deg, #FCFDFF 50.25%, #FFFFFF 79.88%, #F1F6FF 99.87%);
  box-shadow: 0px 0px 10px 0px #94B2FF1A;
}

.product-card img {
  width: 100%;
  object-fit: contain;
  z-index: 0;
}

.product-card__name {
  margin-top: 8px;
  margin-left: 6px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #383838;
  text-align: left;
  z-index: 2;
}

.product-card__style {
  margin-left: 6px;
  font-size: 13px;
  font-weight: 400;
  line-height: 130%;
  color: #a3a3a3;
  text-align: left;
  z-index: 2;
}

/* rank badge */
.product-card__rank {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #38383880;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.product-card--active .product-card__rank {
  background: #6691ff;
}

/* 스크롤 버튼 */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px #88888833;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

.scroll-btn--left {
  left: 0;
}

.scroll-btn--right {
  right: 0;
}

/* 선택한 제품 정보 */
.ranking-chart__product-info {
  margin-bottom: 16px;
}

.ranking-chart__product-info h3 {
  font-size: 25px;
  font-weight: 500;
  color: #383838;
}

.ranking-chart__product-info p {
  font-size: 16px;
  font-weight: 400;
  color: #7A7A7A;
}

/* 툴팁 */
.ranking-tooltip {
  background: #ffffff;
  border: 0.65px solid #6691FF;
  border-radius: 32px;
  padding: 15px 28px;
  box-shadow: 0px 0px 5px 0px #6691FF80;
}

.ranking-tooltip__date {
  font-weight: 500;
  color: #383838;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.ranking-tooltip__row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.ranking-tooltip__row.is-overall {
  color: #6691ff;
}

.ranking-tooltip__row.is-category {
  color: #9bb3ff;
}
